New\ unity\ project/Temp/
New\ unity\ project/Library/
New\ unity\ project/Assembly-CSharp.csproj
New\ unity\ project/New\ unity\ project.sln
New\ unity\ project/New\ unity\ project.suo
New\ unity\ project/.vs/
